<!DOCTYPE html>
{%load static%}
<html>
<head>
    <meta charset="utf-8" content="width=device-width">
    <title>Main page</title>
    <link rel="stylesheet" href="../static/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/soyuz-grotesk" rel="stylesheet">
</head>
<body>

    <div id="first">
        <h1 style="margin-bottom: -2%;margin-left: 5%;">Портал Практик<br>МЕД<span style="color: #90C2E9;">V</span>ЗЛЕТ</h1>
        <p style="margin-left: 5%;">будущая специализация начинается с тебя!</p>
        <div class="comment">
            <p class="comm">Давно мечтал попасть в</br>интересующее тебя отделение?</p>
        </div>
        <div class="comment_one">
            <p class="comm" style="margin-left:4.2%;margin-top: 2.3%;">Да!</p>
        </div>
        <div class="comment_two">
            <p class="comm">Скорее нажимай на кнопку ниже</br>и погружайся в работу врача</br>выбранной специальности!</p>
        </div>
        <button type="submit" id="but">Перейти</button>
    </div>




    <div id="second">
        <h1 style="font-size: 68px;margin-top: 10%;margin-left: 5%;">Выбери свой университет</h1>
        <div>
            <div id="un_one" class="univer">
            </div>
            <div id="un_two" class="univer">
            </div>
            <div id="un_three" class="univer">
            </div>
            <p style="float: left;font-size: 35px;margin-left: 6.5%;">МГМУ им.Сеченова</p>
            <p style="float: left;font-size: 35px;margin-left: 9.5%;">РНИМУ им.Пирогова</p>
            <p style="float: left;font-size: 35px;margin-left: 7.5%;">МГМСУ им.Евдокимова</p>
        </div>
    </div>



    <div id="third_one" class="third">
        <h1 style="font-size: 63px;margin-left:7%">Клинические базы МГМУ. им.Сеченова</h1>
        <p style="font-size: 39px;margin-top:-2%;margin-left:7%">Выбери больницу для прохождения практки от университета </p>
        <div id="ykb1" class="ykb">
        </div>
        <div id="ykb2" class="ykb">
        </div>
        <div id="ykb3" class="ykb">
        </div>
        <div id="ykb4" class="ykb">
        </div>
        <div class="under_hosp">
        </div>
    </div>

    <div id="third_two" class="third">
        <h1 style="font-size: 63px;margin-left:7%">Клинические базы РНИМУ. им.Пирогова</h1>
        <p style="font-size: 39px;margin-top:-2%;margin-left:7%">Выбери больницу для прохождения практки от университета </p>
        <div id="ykb5" class="ykb">
        </div>
        <div id="ykb6" class="ykb">
        </div>
        <div class="under_hosp">
        </div>
    </div>

    <div id="third_three" class="third">
        <h1 style="font-size: 63px;margin-left:7%">Клинические базы РНИМУ. им.Пирогова</h1>
        <p style="font-size: 39px;margin-top:-2%;margin-left:7%">Выбери больницу для прохождения практки от университета </p>
        <div id="ykb7" class="ykb">
        </div>
        <div class="under_hosp" style="margin-top:37%">
        </div>
    </div>

    <div class="four" id="four_one">
        <div id="pod">
            <h1 style="font-size: 49px;">УКБ 1</h1>
            <p style="font-size: 38px;margin-top: -2%;">Выбери интересующее тебя отделение </p>
        </div>
        <div>
            <div style="margin-left:5%">
                <p style="font-size: 33px;color: #22425B;text-align: center;margin-left: -63%;">1-3 курс</br>сестринская практика</p>
                <div id="stroke_one"><p style="color: #22425B;font-size: 32px;margin-left: 5%;line-height: 150%;">Отделение эндокринологии</p></div>
                <div id="stroke"><p style="color: #22425B;font-size: 32px;margin-left: 5%;line-height: 150%;">Неврологическое отделение</p></div>
                <div id="stroke"><p style="color: #22425B;font-size: 32px;margin-left: 5%;line-height: 150%;">Приемное отделение </p></div>
                <div id="stroke"><p style="color: #22425B;font-size: 32px;margin-left: 5%;line-height: 150%;">Хирургическое отделение</p></div>
                <div id="stroke"><p style="color: #22425B;font-size: 32px;margin-left: 5%;line-height: 150%;">Отделение травматологии </p></div>
            </div>
            <div style="margin-top:-34.8%;margin-left:54%">
                <p style="font-size: 33px;color: #22425B;text-align: center;margin-left: -25%;">4-6 курс</br>врачебная практика</p>
                <div id="stroke"><p style="color: #22425B;font-size: 32px;margin-left: 5%;line-height: 150%;">Отделение эндокринологии</p></div>
                <div id="stroke"><p style="color: #22425B;font-size: 32px;margin-left: 5%;line-height: 150%;">Неврологическое отделение</p></div>
                <div id="stroke"><p style="color: #22425B;font-size: 32px;margin-left: 5%;line-height: 150%;">Приемное отделение </p></div>
                <div id="stroke"><p style="color: #22425B;font-size: 32px;margin-left: 5%;line-height: 150%;">Хирургическое отделение</p></div>
                <div id="stroke"><p style="color: #22425B;font-size: 32px;margin-left: 5%;line-height: 150%;">Отделение травматологии </p></div>
                <div id="stroke"><p style="color: #22425B;font-size: 32px;margin-left: 5%;line-height: 150%;">Гематологическое отделение</p></div>
                <div id="stroke"><p style="color: #22425B;font-size: 32px;margin-left: 5%;line-height: 150%;">Отделение урологии</p></div>
            </div>
        </div>
        <img src="{%static "Group 50.svg" %}" style="margin-top:-18.85%;opacity: 0.5;">
    </div>

    <div class="four" id="four_two">
        <div id="pod">
            <h1 style="font-size: 49px;">УКБ 2</h1>
            <p style="font-size: 38px;margin-top: -2%;">Выбери интересующее тебя отделение </p>
        </div>
        <div>
            <div style="margin-left:5%">
                <p style="font-size: 33px;color: #22425B;text-align: center;margin-left: -63%;">1-3 курс</br>сестринская практика</p>
                <div id="stroke"><p style="color: #22425B;font-size: 32px;margin-left: 5%;line-height: 150%;">Гинекологическое отделение </p></div>
                <div id="stroke_two"><p style="color: #22425B;font-size: 32px;margin-left: 5%;line-height: 150%;">Кардиологическое  отделение</p></div>
                <div id="stroke"><p style="color: #22425B;font-size: 32px;margin-left: 5%;line-height: 150%;">Приемное отделение</p></div>
                <div id="stroke"><p style="color: #22425B;font-size: 32px;margin-left: 5%;line-height: 150%;">Челюстно-лицевая хирургия</p></div>
                <div id="stroke"><p style="color: #22425B;font-size: 32px;margin-left: 5%;line-height: 150%;">Отделение травматологии</p></div>
                <div id="stroke"><p style="color: #22425B;font-size: 32px;margin-left: 5%;line-height: 150%;">Отделение анестезиологии</p></div>
            </div>
            <div style="margin-top:-40.2%;margin-left:54%">
                <p style="font-size: 33px;color: #22425B;text-align: center;margin-left: -25%;">4-6 курс</br>врачебная практика</p>
                <div id="stroke"><p style="color: #22425B;font-size: 32px;margin-left: 5%;line-height: 150%;">Гинекологическое отделение</p></div>
                <div id="stroke"><p style="color: #22425B;font-size: 32px;margin-left: 5%;line-height: 150%;">Кардиологическое отделение</p></div>
                <div id="stroke"><p style="color: #22425B;font-size: 32px;margin-left: 5%;line-height: 150%;">Приемное отделение</p></div>
                <div id="stroke"><p style="color: #22425B;font-size: 32px;margin-left: 5%;line-height: 150%;">Челюстно-лицевая хирургия</p></div>
                <div id="stroke"><p style="color: #22425B;font-size: 32px;margin-left: 5%;line-height: 150%;">Отделение травматологии</p></div>
                <div id="stroke"><p style="color: #22425B;font-size: 32px;margin-left: 5%;line-height: 150%;">Отделение анестезиологии</p></div>
                <div id="stroke"><p style="color: #22425B;font-size: 32px;margin-left: 5%;line-height: 150%;">Отделение онкологии</p></div>
            </div>
        </div>
        <img src="{%static "Group 50.svg" %}" style="margin-top:-18.85%;opacity: 0.5;">
    </div>

    <div class="four" id="four_three">
        <div id="pod">
            <h1 style="font-size: 49px;">УКБ 3</h1>
            <p style="font-size: 38px;margin-top: -2%;">Выбери интересующее тебя отделение </p>
        </div>
        <div>
            <div style="margin-left:5%">
                <p style="font-size: 33px;color: #22425B;text-align: center;margin-left: -63%;">1-3 курс</br>сестринская практика</p>
                <div id="stroke"><p style="color: #22425B;font-size: 32px;margin-left: 5%;line-height: 150%;">Неврологическое отделение </p></div>
                <div id="stroke"><p style="color: #22425B;font-size: 32px;margin-left: 5%;line-height: 150%;">Отделение эндокринологии</p></div>
                <div id="stroke"><p style="color: #22425B;font-size: 32px;margin-left: 5%;line-height: 150%;">Приемное отделение</p></div>
                <div id="stroke"><p style="color: #22425B;font-size: 32px;margin-left: 5%;line-height: 150%;">Хирургическое отделение</p></div>
                <div id="stroke"><p style="color: #22425B;font-size: 32px;margin-left: 5%;line-height: 150%;">Отделение травматологии</p></div>
                <div id="stroke"><p style="color: #22425B;font-size: 32px;margin-left: 5%;line-height: 150%;">Отделение анестезиологии</p></div>
            </div>
            <div style="margin-top:-40.2%;margin-left:54%">
                <p style="font-size: 33px;color: #22425B;text-align: center;margin-left: -25%;">4-6 курс</br>врачебная практика</p>
                <div id="stroke"><p style="color: #22425B;font-size: 32px;margin-left: 5%;line-height: 150%;">Неврологическое отделение</p></div>
                <div id="stroke"><p style="color: #22425B;font-size: 32px;margin-left: 5%;line-height: 150%;">Отделение эндокринологии</p></div>
                <div id="stroke"><p style="color: #22425B;font-size: 32px;margin-left: 5%;line-height: 150%;">Приемное отделение</p></div>
                <div id="stroke"><p style="color: #22425B;font-size: 32px;margin-left: 5%;line-height: 150%;">Хирургическое отделение</p></div>
                <div id="stroke"><p style="color: #22425B;font-size: 32px;margin-left: 5%;line-height: 150%;">Отделение травматологии</p></div>
                <div id="stroke"><p style="color: #22425B;font-size: 32px;margin-left: 5%;line-height: 150%;">Отделение анестезиологии</p></div>
                <div id="stroke"><p style="color: #22425B;font-size: 32px;margin-left: 5%;line-height: 150%;">Отделение пульмонологии</p></div>
            </div>
        </div>
        <img src="{%static "Group 50.svg" %}" style="margin-top:-18.85%;opacity: 0.5;">
    </div>

    <div class="four" id="four_four">
        <div id="pod">
            <h1 style="font-size: 49px;">УКБ 4</h1>
            <p style="font-size: 38px;margin-top: -2%;">Выбери интересующее тебя отделение </p>
        </div>
        <div>
            <div style="margin-left:5%">
                <p style="font-size: 33px;color: #22425B;text-align: center;margin-left: -63%;">1-3 курс</br>сестринская практика</p>
                <div id="stroke"><p style="color: #22425B;font-size: 32px;margin-left: 5%;line-height: 150%;">Ожоговое отделение </p></div>
                <div id="stroke"><p style="color: #22425B;font-size: 32px;margin-left: 5%;line-height: 150%;">Отделение кардиологии</p></div>
                <div id="stroke"><p style="color: #22425B;font-size: 32px;margin-left: 5%;line-height: 150%;">Неврологическое отделение </p></div>
                <div id="stroke"><p style="color: #22425B;font-size: 32px;margin-left: 5%;line-height: 150%;">Хирургическое отделение</p></div>
                <div id="stroke"><p style="color: #22425B;font-size: 32px;margin-left: 5%;line-height: 150%;">Терапевтическое отделение</p></div>
            </div>
            <div style="margin-top:-34.8%;margin-left:54%">
                <p style="font-size: 33px;color: #22425B;text-align: center;margin-left: -25%;">4-6 курс</br>врачебная практика</p>
                <div id="stroke"><p style="color: #22425B;font-size: 32px;margin-left: 5%;line-height: 150%;">Ожоговое отделение</p></div>
                <div id="stroke"><p style="color: #22425B;font-size: 32px;margin-left: 5%;line-height: 150%;">Отделение кардиологии</p></div>
                <div id="stroke"><p style="color: #22425B;font-size: 32px;margin-left: 5%;line-height: 150%;">Неврологическое отделение</p></div>
                <div id="stroke"><p style="color: #22425B;font-size: 32px;margin-left: 5%;line-height: 150%;">Хирургическое отделение</p></div>
                <div id="stroke"><p style="color: #22425B;font-size: 32px;margin-left: 5%;line-height: 150%;">Терапевтическое отделение</p></div>
                <div id="stroke"><p style="color: #22425B;font-size: 32px;margin-left: 5%;line-height: 150%;">Отделение химиотерапиии</p></div>
            </div>
        </div>
        <img src="{%static "Group 50.svg" %}" style="margin-top:-13.3%;opacity: 0.5;">
    </div>

    <div class="four" id="four_five">
        <div id="pod">
            <h1 style="font-size: 49px;">ГКБ 15</h1>
            <p style="font-size: 38px;margin-top: -2%;">Выбери интересующее тебя отделение </p>
        </div>
        <div>
            <div style="margin-left:5%">
                <p style="font-size: 33px;color: #22425B;text-align: center;margin-left: -63%;">1-3 курс</br>сестринская практика</p>
                <div id="stroke"><p style="color: #22425B;font-size: 32px;margin-left: 5%;line-height: 150%;">Отделение сосудистой хирургии</p></div>
                <div id="stroke"><p style="color: #22425B;font-size: 32px;margin-left: 5%;line-height: 150%;">Отделение кардиологии</p></div>
                <div id="stroke_three"><p style="color: #22425B;font-size: 32px;margin-left: 5%;line-height: 150%;">Отделение нейрохирургии</p></div>
                <div id="stroke"><p style="color: #22425B;font-size: 32px;margin-left: 5%;line-height: 150%;">Отделение анестезиологии</p></div>
                <div id="stroke"><p style="color: #22425B;font-size: 32px;margin-left: 5%;line-height: 150%;">Неврологическое отделение </p></div>
            </div>
            <div style="margin-top:-34.8%;margin-left:54%">
                <p style="font-size: 33px;color: #22425B;text-align: center;margin-left: -25%;">4-6 курс</br>врачебная практика</p>
                <div id="stroke"><p style="color: #22425B;font-size: 32px;margin-left: 5%;line-height: 150%;">Отделение сосудистой хирургии</p></div>
                <div id="stroke"><p style="color: #22425B;font-size: 32px;margin-left: 5%;line-height: 150%;">Отделение кардиологии</p></div>
                <div id="stroke"><p style="color: #22425B;font-size: 32px;margin-left: 5%;line-height: 150%;">Отделение нейрохирургии</p></div>
                <div id="stroke"><p style="color: #22425B;font-size: 32px;margin-left: 5%;line-height: 150%;">Отделение анестезиологии</p></div>
                <div id="stroke"><p style="color: #22425B;font-size: 32px;margin-left: 5%;line-height: 150%;">Неврологическое отделение</p></div>
                <div id="stroke"><p style="color: #22425B;font-size: 32px;margin-left: 5%;line-height: 150%;">Отделение офтальмологии</p></div>
                <div id="stroke"><p style="color: #22425B;font-size: 32px;margin-left: 5%;line-height: 150%;">Эндоскопическое отделение</p></div>
            </div>
        </div>
        <img src="{%static "Group 50.svg" %}" style="margin-top:-19.3%;opacity: 0.5;">
    </div>

    <div class="four" id="four_six">
        <div id="pod">
            <h1 style="font-size: 49px;">ГКБ 24</h1>
            <p style="font-size: 38px;margin-top: -2%;">Выбери интересующее тебя отделение </p>
        </div>
        <div>
            <div style="margin-left:5%">
                <p style="font-size: 33px;color: #22425B;text-align: center;margin-left: -63%;">1-3 курс</br>сестринская практика</p>
                <div id="stroke"><p style="color: #22425B;font-size: 32px;margin-left: 5%;line-height: 150%;">Отделение гастроэнтерологии</p></div>
                <div id="stroke"><p style="color: #22425B;font-size: 32px;margin-left: 5%;line-height: 150%;">Отделение кардиологии</p></div>
                <div id="stroke"><p style="color: #22425B;font-size: 32px;margin-left: 5%;line-height: 150%;">Отделение эндокринологии</p></div>
                <div id="stroke"><p style="color: #22425B;font-size: 32px;margin-left: 5%;line-height: 150%;">Отделение анестезиологии</p></div>
                <div id="stroke"><p style="color: #22425B;font-size: 32px;margin-left: 5%;line-height: 150%;">Неврологическое отделение</p></div>
            </div>
            <div style="margin-top:-34.8%;margin-left:54%">
                <p style="font-size: 33px;color: #22425B;text-align: center;margin-left: -25%;">4-6 курс</br>врачебная практика</p>
                <div id="stroke"><p style="color: #22425B;font-size: 32px;margin-left: 5%;line-height: 150%;">Отделение гастроэнтерологии</p></div>
                <div id="stroke"><p style="color: #22425B;font-size: 32px;margin-left: 5%;line-height: 150%;">Отделение кардиологии</p></div>
                <div id="stroke"><p style="color: #22425B;font-size: 32px;margin-left: 5%;line-height: 150%;">Отделение нейрохирургии</p></div>
                <div id="stroke"><p style="color: #22425B;font-size: 32px;margin-left: 5%;line-height: 150%;">Отделение анестезиологии</p></div>
                <div id="stroke"><p style="color: #22425B;font-size: 32px;margin-left: 5%;line-height: 150%;">Неврологическое отделение</p></div>
                <div id="stroke"><p style="color: #22425B;font-size: 32px;margin-left: 5%;line-height: 150%;">Отделение колопроктологии</p></div>
                <div id="stroke"><p style="color: #22425B;font-size: 32px;margin-left: 5%;line-height: 150%;">Гинекологическое отделение</p></div>
            </div>
        </div>
        <img src="{%static "Group 50.svg" %}" style="margin-top:-19.9%;opacity: 0.5;">
    </div>

    <div class="four" id="four_seven">
        <div id="pod">
            <h1 style="font-size: 49px;">ГБУЗ 12</h1>
            <p style="font-size: 38px;margin-top: -2%;">Выбери интересующее тебя отделение </p>
        </div>
        <div>
            <div style="margin-left:5%">
                <p style="font-size: 33px;color: #22425B;text-align: center;margin-left: -63%;">1-3 курс</br>сестринская практика</p>
                <div id="stroke"><p style="color: #22425B;font-size: 32px;margin-left: 5%;line-height: 150%;">Онкологическое отделение</p></div>
                <div id="stroke"><p style="color: #22425B;font-size: 32px;margin-left: 5%;line-height: 150%;">Отделение травматологии</p></div>
                <div id="stroke"><p style="color: #22425B;font-size: 32px;margin-left: 5%;line-height: 150%;">Ожоговое отделение</p></div>
                <div id="stroke"><p style="color: #22425B;font-size: 32px;margin-left: 5%;line-height: 150%;">Отделение анестезиологии</p></div>
                <div id="stroke"><p style="color: #22425B;font-size: 32px;margin-left: 5%;line-height: 150%;">Неврологическое отделение</p></div>
            </div>
            <div style="margin-top:-34.8%;margin-left:54%">
                <p style="font-size: 33px;color: #22425B;text-align: center;margin-left: -25%;">4-6 курс</br>врачебная практика</p>
                <div id="stroke"><p style="color: #22425B;font-size: 32px;margin-left: 5%;line-height: 150%;">Онкологическое отделение</p></div>
                <div id="stroke"><p style="color: #22425B;font-size: 32px;margin-left: 5%;line-height: 150%;">Отделение травматологии</p></div>
                <div id="stroke"><p style="color: #22425B;font-size: 32px;margin-left: 5%;line-height: 150%;">Ожоговое отделение</p></div>
                <div id="stroke"><p style="color: #22425B;font-size: 32px;margin-left: 5%;line-height: 150%;">Отделение анестезиологии</p></div>
                <div id="stroke"><p style="color: #22425B;font-size: 32px;margin-left: 5%;line-height: 150%;">Неврологическое отделение</p></div>
                <div id="stroke"><p style="color: #22425B;font-size: 32px;margin-left: 5%;line-height: 150%;">Отделение урологии</p></div>
            </div>
        </div>
        <img src="{%static "Group 50.svg" %}" style="margin-top:-13.3%;opacity: 0.5;">
    </div>

    <div id="five">
        <video style="margin-left:5%;margin-top:5%;border:0px solid transparent;border-radius: 40px;" width="455" height="440" controls>
            <source src="{%static "RPReplay_Final1726499065 (1).mov" %}" type="video/mp4">
        </video>
        <img src="{%static "Group 34 (1).svg" %}" style="width: 772px;height: 121px;float: right;margin-right: 9%;margin-top:10%">
        <img src="{%static "Group 33 (2).svg" %}" style="width: 569px;height: 143px;float: right;margin-top:-15%;margin-right:5%;">
        <div class="scroll-container">
            <img src="{%static "Проект ТХ (1)/5330024745158176136.png" %}">
            <img src="{%static "Проект ТХ (1)/5402304371825436727.png" %}">
            <img src="{%static "Проект ТХ (1)/5408874550801848041.png" %}">
            <img src="{%static "Проект ТХ (1)/5420242032154238724.png" %}">
            <img src="{%static "Проект ТХ (1)/5420242032154238725.png" %}">
            <img src="{%static "Проект ТХ (1)/5420242032154238727.png" %}">
            <img src="{%static "Проект ТХ (1)/5420242032154238729.png" %}">
            <img src="{%static "Проект ТХ (1)/5420242032154238734.png" %}"> 
            <img src="{%static "Проект ТХ (1)/5420242032154238741 (1).png" %}">
            <img src="{%static "Проект ТХ (1)/5420242032154238753.png" %}">
            <img src="{%static "Проект ТХ (1)/5420242032154238754.png" %}">
            <img src="{%static "Проект ТХ (1)/5420242032154238755.png" %}">
            <img src="{%static "Проект ТХ (1)/5420242032154238756.png" %}">
            <img src="{%static "Проект ТХ (1)/5420242032154238757 (1).png" %}">
            <img src="{%static "Проект ТХ (1)/image.png" %}">
        </div>
        <button id="foto_galery" type="submit" style="width: 365px;height: 57px;text-align: center;background-color: transparent;color: #fff;border:2.2px solid white;border-radius: 121px;font-size: 39px;cursor: pointer;margin-left: 5%;margin-top: 2%;">фотогалерея</button>
    </div>

    <div id="five">
        <div class="scroll-container">
            <video style="margin-left:5%;margin-top:5%;border:0px solid transparent;border-radius: 40px;" width="308" height="404" controls>
                <source src="{%static "-117574295827253204.MP4" %}" type="video/mp4">
            </video>
            <video style="margin-left:5%;margin-top:5%;border:0px solid transparent;border-radius: 40px;" width="308" height="404" controls>
                <source src="{%static "-1489484176226475675.MP4" %}" type="video/mp4">
            </video>
            <video style="margin-left:5%;margin-top:5%;border:0px solid transparent;border-radius: 40px;" width="308" height="404" controls>
                <source src="{%static "-2334759347550496029.MP4" %}" type="video/mp4">
            </video>
            <video style="margin-left:5%;margin-top:5%;border:0px solid transparent;border-radius: 40px;" width="308" height="404" controls>
                <source src="{%static "-4394294292354159000.MP4" %}" type="video/mp4">
            </video>
            <video style="margin-left:5%;margin-top:5%;border:0px solid transparent;border-radius: 40px;" width="308" height="404" controls>
                <source src="{%static "4325209213845829634.MP4" %}" type="video/mp4">
            </video>
            <video style="margin-left:5%;margin-top:5%;border:0px solid transparent;border-radius: 40px;" width="308" height="404" controls>
                <source src="{%static "IMG_0731.MOV" %}" type="video/mp4">
            </video>
        </div>
        <button id="rttylf" type="submit" style="margin-top: 5%;margin-left:5%;width: 433px;height: 77px;text-align: center;background-color: transparent;color: #fff;border:2.2px solid white;border-radius: 121px;font-size: 41px;cursor: pointer;">видео-отзывы</button>
    </div>

    <div id="five">
        <img src="{%static "Group 54.svg" %}" style="width: 1262px;height: 280px;">
        <img src="{%static "Group 55.svg" %}" style="width: 1232px;height: 263px;margin-left: 12%;">
        <img src="{%static "Group 56.svg" %}" style="width: 1287px;height: 323px;margin-left: 3%;">
        <button id="dertl" type="submit" style="width: 379px;height: 81px;text-align: center;background-color: transparent;color: #fff;border:2.2px solid white;border-radius: 121px;font-size: 51px;position: absolute;margin-left: -85%;margin-top: 14%;cursor: pointer;">отзывы</button>
    </div>

    <div id="last">
        <h1 style="font-size: 51px;margin-left: 6%;margin-top:4%">Ответы на часто задаваемые вопросы</h1>
        <p style="font-size: 23px;margin-left: 6%;font-weight: 600;">Гугл-форма не дает записаться в отделение, почему?</p>
        <p style="font-size: 23px;margin-left: 6%;margin-top: -1.2%;">- В отделении набралось максимальное количество студентов, места на запись закончились.</p>
        <p style="font-size: 23px;margin-left: 6%;font-weight: 600;">Если я записалась в отделение, но потом передумала. Могу я поменять отделение на другое?</p>
        <p style="font-size: 23px;margin-left: 6%;margin-top: -1.2%;">- Перезапись в отделения не предусмотрена. Гугл-форма даёт записаться только один раз в одно из отделений.</p>
           
        <p style="font-size: 23px;margin-left: 6%;font-weight: 600;">Как понять, что я точно записалась и попаду в отделение?</p>
        <p style="font-size: 23px;margin-left: 6%;margin-top: -1.2%;">- При записи через гугл-форму Ваши данные автоматически передаются кураторам университета, и Вы приходите на практику в выбранное отделение.</p>
           
        <p style="font-size: 23px;margin-left: 6%;font-weight: 600;">По остальным вопросам Вы можете связаться со студентами-кураторами вашего университета через телеграмм:</p>
        <p style="font-size: 23px;margin-left: 6%;margin-top: -3%;">
            </br>УКБ 1 Татьяна И. @tt_isk
            </br>УКБ 2. Елена П. @tjfssv
            </br>УКБ 3. Анастасия К. @aa_niente
            </br>УКБ 4. Алена Н. @itsalnn
            </br>ГКБ 15 Виктория П. @vikki_usk
            </br>ГКБ 24 Дария У. @vushkarnik
            </br>ГБУЗ 12 Дарья В. @help_urselffff
        </p>
    </div>

</body>
<script>
    document.getElementById('but').addEventListener('click', function() {
        document.querySelector('#second').scrollIntoView({ behavior: 'smooth' });
    });
    document.getElementById('un_one').addEventListener('click', function() {
        document.querySelector('#third_one').scrollIntoView({ behavior: 'smooth' });
    });
    document.getElementById('un_two').addEventListener('click', function() {
        document.querySelector('#third_two').scrollIntoView({ behavior: 'smooth' });
    });
    document.getElementById('un_three').addEventListener('click', function() {
        document.querySelector('#third_three').scrollIntoView({ behavior: 'smooth' });
    });
    document.getElementById('ykb1').addEventListener('click', function() {
        document.querySelector('#four_one').scrollIntoView({ behavior: 'smooth' });
    });
    document.getElementById('ykb2').addEventListener('click', function() {
        document.querySelector('#four_two').scrollIntoView({ behavior: 'smooth' });
    });
    document.getElementById('ykb3').addEventListener('click', function() {
        document.querySelector('#four_three').scrollIntoView({ behavior: 'smooth' });
    });
    document.getElementById('ykb4').addEventListener('click', function() {
        document.querySelector('#four_four').scrollIntoView({ behavior: 'smooth' });
    });
    document.getElementById('ykb5').addEventListener('click', function() {
        document.querySelector('#four_five').scrollIntoView({ behavior: 'smooth' });
    });
    document.getElementById('ykb6').addEventListener('click', function() {
        document.querySelector('#four_six').scrollIntoView({ behavior: 'smooth' });
    });
    document.getElementById('ykb7').addEventListener('click', function() {
        document.querySelector('#four_seven').scrollIntoView({ behavior: 'smooth' });
    });
    document.getElementById("dertl").onclick = function() {
        window.location.href = "https://drive.google.com/drive/folders/1-i3fKwC6LjaJ84Kvk9irAZpiIQBn0vx0";
    };
    document.getElementById("foto_galery").onclick = function() {
        window.location.href = "https://drive.google.com/drive/folders/1-c2DRHUP__DMxO3t9FtnfBRz0pq6eKIT";
    };
    document.getElementById("stroke_one").onclick = function() {
        window.location.href = "https://docs.google.com/forms/d/e/1FAIpQLSdeugNu8gyU6VYcSUv3U2tAyl6PB6KFdh1ySEtKAW7X-30zag/viewform";
    };
    document.getElementById("stroke_two").onclick = function() {
        window.location.href = "https://docs.google.com/forms/d/e/1FAIpQLScx7bLDn8EGI9eV8qv5XneKDbgHjwNypRUBOsOvB6TOsIMQdQ/viewform";
    };
    document.getElementById("stroke_three").onclick = function() {
        window.location.href = "https://docs.google.com/forms/d/e/1FAIpQLSdyO5q3dMxxQ0HL8H2wbfxVjKmfSj5QsE2MWndQD5gKwWaVxg/viewform";
    };
    document.getElementById("rttylf").onclick = function() {
        window.location.href = "https://drive.google.com/drive/folders/1-faLGvzZ3KkoXQ911APxgrxFU-eaHtEV";
    };
</script>